 /* One For All */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Page */
body {
    background-color: rgb(223, 223, 223);
    font-size: 16px;
    margin: 0;
    font-family: "Red Rose", "Courier New", Courier, monospace;
    line-height: 50px;
    place-items: center;
}
main {
    display: grid;
    place-items: center;
}
p {
    line-height: 25px;
    margin: 10px;
    text-align: center;
}
/* Header */
.main-nav {
    /* margin-top: 1.5em; */
    font-weight: 800;
    text-transform: uppercase;
    overflow: hidden;
}

.wrapper {
    /* display: block; */
    color: black;
    font-size: 1.125em;
    text-align: center;
}
.navbar li {
    background-color: white;
    margin: 30px;
    line-height: 20px;
    padding: 10px;
}
.main-header {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
}

.portfolio-container {
    /* position: relative; */
    text-align: center;
}
.profile-picture{
    align-content: center;
}
.portfolio-bio {
    text-align: center;
}
/* Main */
.portfolio-title {
    text-align: center;
}
.skills-container {
    align-content: center;
    /* display: inline-block; */
    /* margin: 25px; */
    background-color: rgb(255, 255, 255);
    /* width: 100%; */
    /* spans the background across the entire page */
    place-items: center;
}
.skills {
    /* background-color: white; */
    justify-content: space-between;
    vertical-align: middle;
}
.skills-wrapper {
    /* display: inline-block; */
    /* margin: 0 0 0 20px; */
    /* overflow: auto;   */
}
.main-img {
    max-width: auto;
    max-height: 100%;
    /* display: block; */
}
.frame {
    /* width: 0 auto; */
    height: 200px;
    /* vertical-align: middle; */
    text-align: center;
    display: table-cell;
    /* position: relative; */
    /* overflow: auto; */
}
.contact {
    text-align: center;
    margin: 30px;
    line-height: 20px;
}

/* Footer */
hr {
    margin: 20px;
    color: lightgray;
}
.main-footer {
    margin: 20px;
}
.footer-nav {
    /* position: relative; */
    /* overflow: hidden; */
}
.footer-nav li {
    list-style-type: none;
}

.mobile-footer {
    float: left;
    font-weight: 800;
}
.mobile-footer-too {
    float: right;
    font-weight: 800;
}

/* Mobile First */
@media (max-width: 767px) {
    .footer-nav .hidden {
        display: none;
    }
}

@media (min-width: 768px) {
    .main-nav a:link {
        background-color: transparent;
    }
    .navbar li {
        background-color: transparent;
    }
    .portfolio-container {
        /* display: inline-block;    */
    }
    .portfolio-bio {
        float: left;
        text-align: left;
        /* margin: auto; */
    }
    .profile-picture {
        float: right;
        vertical-align: middle;
        overflow: auto;
    }
    .frame {
        float: left;
    }
    .marketing,
    .search
    .travel,
    .map,
    .gallery,
    .calc {
        width: 50%;
    }
    .main-nav li {
        display: inline-block;
        width: 20%;
    }
    .skills-container {
        margin: auto 0;
    }
    .footer-nav li {
        display: inline-block;
        margin: 15px;
    }
    .footer-nav .hidden {
        font-weight: 800;
        /* width: 25%; */
        text-transform: uppercase;
        float: right;
    }
    .responsive-footer {
        /* float: right; */
    }
    .mobile-footer-too {
        display: none;
    }
    /* Float Clearfix */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}
    
}
@media (min-width: 1024px) {
    .wrapper {
        position: relative;
        overflow: hidden;
    }
    .name {
        float: left;
        margin: 40px;
    }
    .navbar {
        float: right;
    }
    .marketing,
    .search,
    .travel,
    .map,
    .gallery,
    .calc {
        width: 33.33%;
    }
}
