/* One For All */
* {
    box-sizing: border-box;
}
/* Page */
body {
    background-color: rgb(223, 223, 223);
    font-size: 16px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    line-height: 50px;
}

/* Header */
.main-header {
    padding-top: 1.5em;
}
.main-nav {
    margin-top: 1.5em;
}
.home {
    padding: 10px 100px 10px 100px;
}

.wrapper {
    display: block;
    color: black;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
}

.navbar,
.main-header {
    display: flex;
    flex-direction: column;
}
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: black;
    text-decoration: none;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* a:link {
    background-color: white;
    position: relative;
} */
.portfolio-container {
    position: relative;
    text-align: center;
}
.portfolio-bio {
    float: left;
}
/* Main */
main {
    display: grid;
    place-items: center;
}
p {
    line-height: 20px;
    margin: 30px;
}
.portfolio-title {
    text-align: center;
}
.skills-container {
    display: inline-block;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;/* spans the background across the entire page*/
    place-items: center;
}
.skills {
    width: 100%;
    justify-content: space-between;
    vertical-align: middle;
}
.main-img {
    max-width: auto;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.frame {
    width: 250px;
    height: 250px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}
.contact {
    text-align: center;
    margin: 30px;
    line-height: 20px;
}
hr {
    color: gray;
}
/* Footer */
.main-footer {
    margin: 20px;
}
.footer-nav {
    position: relative;
    overflow: hidden;
}
.footer-nav li {
    list-style-type: none;
}
.footer-nav .hidden {
    display: none;
}
.mobile-footer {
    float: left;
}
.mobile-footer-too {
    float: right;
}
/* Mobile First */
@media (min-width: 768px) {
    
}
@media (min-width: 1024px) {
    
}
